.day {
    color: #00afbe;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    width: 110px;
    padding-left: 15px;
}

.details {
    width: 110px;
    padding-left: 15px;
    color: #999;
}

.btn-secondary {
  margin-left: 10px;
}


