
<div>
    <button class="btn btn-secondary" (click)="goBack()">back</button>
  </div>
<div class="container">
  <div class="row">

    <div class="col" *ngIf="forecastData">

      <div>{{forecastData.city.name}} Weather forecast for next 5 days</div>
      <div>
          To set {{forecastData.city.name}} as Home city: <button class="btn btn-secondary" (click)="setHomeCity()">Set Home</button>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col">
      <div *ngFor="let d of day">
        <app-forecast-details *ngIf="displayForecastData" [day]="d" [details]="displayForecastData[d]"></app-forecast-details>
      </div>
    </div>
  </div>
</div>


