header {
  width: 100%;
  background: #0F2B3A;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  border-top: 16px solid #0F2B3A;
  border-bottom: 16px solid #2490B8;
  margin-bottom: 20px;

  h1 {
    font-size: 48px;
    margin: 0 0 8px 0;
    text-align: center;
    color: #FAFAFA;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.heading {
  font-size: 48px;
  margin: 64px 0 16px 0;
  text-align: center;
  color: #02212f;
}

@media (min-width: 481px) and (max-width: 767px) {

  .heading {
    font-size: 36px !important;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  .heading {
    font-size: 32px !important;
  }

}

