<div class="hourly-details">
    <div class="f-details flex-container" *ngIf="details">
        <div class="f-header">
          <div class="day">{{day}}</div>
          <div class="details">Forecast</div>
          <div  class="details">Temp (&#176;C)</div>
          <div class="details">Wind (m/s)</div>
        </div>
        <div class="f-content" *ngFor="let obj of details">
            <div class="short-time">{{obj.dt_txt | date:'shortTime'}}</div>
            <div class="content">{{obj.weather[0].main}}</div>
            <div class="content">{{obj.main.temp | number:'0.0-0'}}&#176;</div>
            <div class="content">{{obj.wind.speed}}</div>
        </div>
    </div>
</div>
