.hourly-details {
    margin: 15px auto;
    padding: 10px 10px;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bdbab9;
    width: max-content;
    font-size: 15px;

    .f-details {
        padding-left: 10px;
    }

    .day {
        color: #00afbe;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        width: 110px;
        padding: 5px 15px 20px 15px;
        border-bottom: 1px solid #c8c8c8;
    }
        
    .details {
        width: 110px;
        padding: 5px 10px;
        color: #999;
    }

    .short-time {
        width: auto;
        color: #999;
        padding: 5px 15px 20px 15px;
        border-bottom: 1px solid #c8c8c8;
        font-size: 14px;
    }

    .content{
        width: 65px;
        padding: 5px 15px;
    }
}

  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {

    .content, .short-time {
        width: 110px !important;
    }

    .f-header {
        display: flex;
        border-bottom: 1px solid #c8c8c8;
    }

    .f-content {
        display: flex;
    }

    .f-details {
        flex-direction: column;
    }

    .short-time {
        border: none !important;
    }
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {

    .content, .short-time, .details, .day{
        width: 65px !important;
    }

    .f-header {
        display: flex;
        border-bottom: 1px solid #c8c8c8;
    }

    .f-content {
        display: flex;
    }

    .f-details {
        flex-direction: column;
    }

    .day {
        padding-left: 0px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .short-time {
        border: none !important;
    }
    .details {
        border-bottom: 1px solid #c8c8c8;
    }

  }