<div class="container">
  <div class="row">
    <div class="col-md-6 " *ngIf="homeCityObj.currentWeather.weather">
      <span>Home City</span>
      <div class="home-city">{{homeCityObj.name}}</div>
      <div>{{todayDate | date}}</div>
      <div>{{homeCityObj.currentWeather.weather[0].main}}</div>
      <div class="flex-container flex-space-btwn">
          <div class="home-temp">{{homeCityObj.currentWeather.main.temp | number:'0.0-0'}}&#176;C</div>
          <div class="home-details">
              <div>Humidity {{homeCityObj.currentWeather.main.humidity}}%</div>
              <div>Wind {{homeCityObj.currentWeather.wind.speed}} m/s</div>
              <div>Pressure {{homeCityObj.currentWeather.main.pressure}} hPa</div>
          </div>
      </div>
      <app-chart *ngIf="chartObj" [chartObj]="chartObj"></app-chart>
    </div>
    <div class="col-md-6">
        <div class="">
            <div class="city-tile animate fadeInRight four" *ngFor="let city of weatherData" (click)="gotoForecast(city)">
                <div class="city-header">
                    <div class="name">{{city.name}}</div>
                  </div>
              <div class="city-details">
                <div class="temp">{{city.main.temp | number:'0.0-0'}}&#176;C</div>
                <div class="clouds">
                    <img src="https://openweathermap.org/img/w/{{ city.weather[0]?.icon }}.png" alt="">
                  <span>{{city.weather[0].main}}</span>
                </div>
                <div class="wind">
                    <img src="../../assets/icon-wind.png" alt="">
                    <div>{{city.wind.speed}} m/s</div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
