.container {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #878787;
}

.home-city {
  font-size: 24px;
}

.home-temp {
  font-size: 40px;
}

.home-details {
  padding: 5px 40px;
}

.city-tile {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-bottom:  15px;
  cursor: pointer;
  background: #323544;
  color: white;

  .city-header {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    text-align: left;
    font-weight: 400;
  }

  .city-details {
    width: 100%;
    padding: 5px 10px;
  }

  .name {
    font-size: 20px;
    padding: 5px;
    color: #bfc1c8;
  }

  .temp {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    width: 40%;
    text-align: center;
    padding: 0px 10px;
  }

  .clouds {
    display: inline-block;
    width: 30%;
    padding: 0px 10px;
  }

  .wind {
    display: inline-block;
    width: 30%;
    padding: 0px 10px;

    img {
      padding: 0px 10px;
    }
  }
}

.animate {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
/*==== FADE IN RIGHT ===*/
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
