/* You can add global styles to this file, and also import other style files */
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.flex-container {
  display: flex;
}
.flex-item {
  flex: 1;
}
.flex-dir-col {
  flex-direction: column;
}
.flex-space-btwn {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
